<label for="user-delete-modal" class="btn">open modal</label>

<input type="checkbox" id="user-delete-modal" class="modal-toggle" />
<div class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">
            Congratulations random Internet user!
        </h3>
        <p class="py-4">
            Are you sure you want to delete your account. <span class="text-red-700">This cannot be undone.</span>
        </p>
        <div class="modal-action">
            <label for="user-delete-modal" class="btn">I changed my mind</label>
            <button class="btn">Delete</button>
        </div>
    </div>
</div>
