<form method="post" action="{{ path("admin_user_delete", { id: user.id.toBase32 }) }}">
    <input type="hidden" name="_token" value="{{ csrf_token("delete-" ~ user.id.toBase32) }}" />
    {{ component("button", { class: "btn-outline", content: "Delete", submit: true, variant: "error" }) }}
</form>
