{% extends "admin/layout.html.twig" %}

{% trans_default_domain "admin" %}

{% block title %}
    {{ "page.user_edit.title"|trans }}
{% endblock %}

{% block description %}
    {{ "page.user_edit.description"|trans }}
{% endblock %}

{% block main_title %}
    {{ "page.user_edit.title"|trans }}
{% endblock %}

{% block main_body %}
    <div id="user-admin-form" class="mx-auto flex max-w-4xl flex-col gap-4">
        {% include "admin/user/_edit_content.html.twig" %}
    </div>

    {% include "admin/user/_send_validation_email.html.twig" with { user } only %}
{% endblock %}
