{% extends "admin/layout.html.twig" %}

{% block title %}
    Admin - User
{% endblock %}

{% block main_body %}
    <h1>
        SUPER SECURE PAGE
    </h1>
    <div class="flex">
        {{ knp_menu_render('backoffice', { template: knp_custom_menu }) }}
        {{ component('table', { config }) }}
    </div>

    <a class="btn" href="{{ path("security_logout") }}">{{ "common.logout"|trans }}</a>
{% endblock %}
