###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

### Docker prod ###
/docker/prod/*
!/docker/.gitkeep
docker-compose.override.yml

### Docker logs ###
/docker/dev/**/logs/*
!/docker/dev/**/logs/.gitkeep
### Docker logs ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

### DB ###
data/*
!data/.gitkeep

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

### IDE ###
.vscode

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
