{% extends "layout.html.twig" %}

{% block title %}
    Reset your password
{% endblock %}

{% block main_title %}
    Reset your password
{% endblock %}

{% block main_body %}
    <div class="flex flex-col items-center">
        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        {{ component("button", { content: "Reset password" }) }}
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
