{% extends "email/layout.html.twig" %}

{% block title %}
    Hi!
{% endblock %}

{% block main %}
    <p>
        To reset your password, please visit the following link
    </p>

    <a href="{{ url("app_reset_password", { token: resetToken.token }) }}">{{ url("app_reset_password", { token: resetToken.token }) }}</a>

    <p>
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, "ResetPasswordBundle") }}.
    </p>
{% endblock %}

{% block bottom_text %}
    Cheers!
{% endblock %}
