{% extends "email/layout.html.twig" %}

{% set title = "reset_password.title"|trans({}, "email", locale) %}
{% set description = "reset_password.description"|trans({}, "email", locale) %}
{% set button_link = url("app_reset_password", { token: resetToken.token, _locale: locale|default("en") }) %}
{% set button_text = "reset_password.reset"|trans({}, "email", locale) %}

{% block main %}
    <p>
        {{ "reset_password.main_text"|trans({ username }, "email", locale) }}
        <strong class="font-semibold">{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, "ResetPasswordBundle", locale) }}</strong>.
    </p>
    <br />
    <p>
        {{ "reset_password.safety_message"|trans({}, "email", locale) }}
    </p>
{% endblock %}
