{% extends "admin/layout.html.twig" %}

{% trans_default_domain "admin" %}

{% block title %}
    {{ "page.homepage.title"|trans }}
{% endblock %}

{% block description %}
    {{ "page.homepage.description"|trans }}
{% endblock %}

{% block main_body %}
    <h1>
        SUPER SECURE PAGE
    </h1>

    <a class="btn" href="{{ path("security_logout") }}">{{ "common.logout"|trans }}</a>
{% endblock %}
