{% extends "admin/layout.html.twig" %}

{% block title %}
    Admin
{% endblock %}

{% block main_body %}
    <h1>
        SUPER SECURE PAGE
    </h1>

    <a class="btn" href="{{ path("security_logout") }}">{{ "common.logout"|trans }}</a>
{% endblock %}
