{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.about_us.title"|trans }}
{% endblock %}

{% block main_body %}
    <h1 class="text-center text-3xl">
        {{ "page.about_us.title"|trans }}
    </h1>
    <p>:O</p>
{% endblock %}
