{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.contact.title"|trans }}
{% endblock %}

{% block main_body %}
    <h1 class="text-center text-3xl">
        {{ "page.contact.title"|trans }}
    </h1>
{% endblock %}
