{% component dropdown %}
{% block button %}
    {{ component("button", { content: app.request.locale|locale_name(app.request.locale)|title }) }}
{% endblock %}

{% block items %}
    {% for locale in enabled_locales %}
        <li><a href="{{ path(app.current_route ?? "app_homepage", (app.current_route_parameters ?? [])|merge({ _locale: locale })) }}">{{ locale|locale_name(app.request.locale)|title }}</a></li>
    {% endfor %}
{% endblock %}
{% endcomponent %}
