<div class="{{ alignRight ? "dropdown-end" }} dropdown">
    {% block button %}

    {% endblock %}

    <ul tabindex="0" class="dropdown-content menu rounded-box w-52 bg-base-100 p-2 shadow">
        {% block items %}

        {% endblock %}
    </ul>
</div>
