{% extends "base.html.twig" %}

{% block body %}
    <h1>
        {{ status_code }} | {{ status_text }}
    </h1>

    <p>
        Oops... Something went wrong. <a href="{{ path("app_homepage") }}">Return to the homepage</a>.
    </p>
{% endblock %}
