{% trans_default_domain "tables" %}

<td class="px-6 py-4">
    {% for key, action in config.actions %}
        {{
            component(
                "button",
                {
                    icon: action.icon,
                    square: true,
                    variant: key,
                    href: path(action.route, table_parse_options(action.routeParams|default([]), config.value)),
                    ariaLabel: ("icon.#{action.icon}")|trans({}, "messages"),
                    centered: false,
                    "data-turbo-frame": "_top",
                    small: true,
                    class: "!py-2 !px-4"
                }
            )
        }}
    {% endfor %}
</td>
